<% debug(@user) %>

<div class="form-search input-append">
  <input class="input-xlarge" id="appendedInputButton" placeholder="search..." type="text">
  <button class="btn" type="button"><i class="icon-search"></i> search</button>
  <button id="add_user" class="btn btn-primary btn-lg" type="button">add user</button>
</div>


<table class="table table-condensed table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>ROLE</th>
      <th>ACTION</th>
      
    </tr>
  </thead>
  <tbody>
  	<% @user.each do |u| %>
  	<tr>
      <td><%=u.id%></td>
      <td><%=u.first%> <%=u.last%> <%= u.base.blank? ? "" : u.base %></td>
      <td><%=u.email%></td>
      <td><%=u.role%></td>
      <td>
  		<button id='info' onclick="doSomething('<%=u.id%>');" class="btn btn-mini" ><i class="icon-info-sign"></i> info.</button>
  		<button id='edit' onclick="doSomething('<%=u.id%>');" class="btn btn-mini btn-primary" type="button"><i class="icon-edit"></i> edit</button>
  		<button id='remove' onclick="removeUser('<%=u.id%>');" class="btn btn-mini btn-danger" type="button"><i class="icon-remove-sign"></i> remove</button>
      </td>
    </tr>
  	<% end %>
  </tbody>
</table>
<script type="text/javascript">

	$('#add_user').click(function(){

		$.ajax
         ({
         	type: 'GET',
         	timeout: 5000,
            beforeSend: function (){
            	$('#newUsers').html('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');
            },
            success: function (){
            	$('#newUsers').load("/admin/create");
            },
            error: function (){
            	alert("Cannot load new user form");
            }
            
         });
	});

</script>
