<!--/row span 12 -->
<div id='form_update' class="row-fluid">
	<div class="span12 sp4" style="background-color: #FAFAFA">
  		<h2>UPDATE USER</h2>
		<%debug(@user)%>
		
  		<table class="table table-bordered">
  			<tr><td colspan='3'>ID:<input type="text" id="id" class="input-block-level input-large" disabled="true" value="<%=@user.id%>"></td></tr>
  			<tr>
  				<td>
  					<label>FIRSTNAME*</label>
  					<input type="text" id="first" class="input-block-level input-large" placeholder="firstname" value="<%=@user.first%>">
  				</td>
  				<td>
  					<label>LASTNAME*</label>
  					<input type="text" id="last" class="input-block-level input-large" placeholder="lastname" value="<%=@user.last%>">
  				</td>
  				<td>
  					<label>PASSWORD*</label> 
  					<input type="password" id="password" disabled class="input-block-level input-large" placeholder="at least 4 characters..." value=<%=@user.hashed_password%>>
  				</td>
  			</tr>
  			<tr>
  				<td>
  					<label>EMAIL*</label>
  					<input type="text" id="email" class="input-block-level input-large" placeholder="abc@hotmail.com" value="<%=@user.email%>">
  				</td>
  				<td>
  					<label>DIVISION</label>
  					<input type="text" id="division" class="input-block-level input-large" placeholder="..." value="<%=@user.division%>">
  				</td>
  				<td>
  					<label>BUSINESS UNIT</label> 
  					<input type="text" id="business_unit"  class="input-block-level input-large" placeholder="..." value="<%=@user.business_unit%>">
  				</td>
  			</tr>
  			<tr>
  				<td>
  					<label>BASE</label>
  					<input type="text" id="base" class="input-block-level input-large" placeholder="..." value="<%=@user.base%>">
  				</td>
  				<td>
  					<label>ROLE</label>
  					<input type="text" id="role" class="input-block-level input-large" placeholder="role" value="<%=@user.role%>">
  				</td>
  				<td>
  					<label>PILOT</label> 
  					
  					<select id="is_pilot"  class="input-block-level input-large">
  						<option value='yes'>Yes</option>
  						<option value='no'>No</option>
  					</select>
  				</td>
  			</tr>
  			<tr>
  				<td colspan="3">
  					<label>NOTE</label>
  					<textarea id="note" class="input-block-level input-large"><%=@user.notes%></textarea>
  				</td>
  			</tr>
  			<tr>
  				<td colspan='3'>
  					<button id='update_user' class="btn btn-primary" type="button">update</button>
  					<button id="close_update" class="btn btn-primary" type="button">close</button>
  				</td>
  			</tr>
  		</table>
		
	</div><!--/span-->
</div><!--/row-->
<!-- end row span 12 -->
<script type="text/javascript">
	$('#update_user').click(function(e) {
	 if ($('#email').val() != '' && $('#first').val() != '' && $('#last').val()) { 
		$.ajax
         ({
         	type: 'POST',
         	url: '/admin/update',
         	data: {
         		id: $('#id').val(),
         		first: $('#first').val(), 
         		last: $('#last').val(), 
         		password: $('#password').val(), 
         		email: $('#email').val(), 
         		division: $('#division').val(), 
         		business_unit: $('#business_unit').val(), 
         		base: $('#base').val(),
         		role: $('#role').val(),
         		is_pilot: $('#is_pilot').val(),
         		notes: $('#note').val()
         	},
         	timeout: 5000,
            beforeSend: function (){
            	$('#listUsers').html('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');
            },
            success: function (data){
            	//window.location = "/admin/index";
            	$('#form_update').hide();
            	$('#listUsers').load("/admin/show");
            	$('#modalLabel').html('UPDATED USER');
				$('#modalContent').html('Completed.');
				$("#myModal").modal('show');	
            },
            error: function (e){
            	alert("Cannot load user data");
            	
            }
         });
      } else {
      	alert('Firstname, Lastname, Password and Email cannot be blank!');
      }
	});
	$('#close_update').click(function(){
		$('#form_update').hide();
	});
</script>
