<style>
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
</style>
<% flash.each do |key, value| %>
  <div id='notice' class="<%= flash_class(key) %>">
    <button type="button" id='alertClose' class="close" data-dismiss="alert">×</button>
    <strong><%= value %></strong>
  </div>
<% end %>
<div class="center hero-unit">
  <%= link_to image_tag("/assets/rps-logo-01.png", :alt=>"SQID-RPS", :style => "margin-top:-70px;margin-bottom:-50px;", :size=>"380x180"),
  						'http://sqid-rps.herokuapp.com/' %>
  <%= form_for(:user, :url => url_for(:action=>'authenticated'), :html => {:class=>"form-signin"}) do |f| %>
    <%= f.text_field :first, :id=>'username', :class =>'input-block-level', :placeholder => "Username" %>
    <%= f.password_field :password, :id=>'password', :class => 'input-block-level', :placeholder => "Password" %>
    <%= f.submit "Sign in", :class => 'btn btn-large btn-primary'%>
<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#notice').show().fadeOut(5000);
		$('#signin').click(function(){
			//alert("This feature under construction.");
		});
	});
</script>