<style>
.no_margin{margin:0px !important;}
.stitched{
 padding: 3px;
 margin: 3px;
 background: #FFF5EE;

 /*font-size: 21px;*/
 /*font-weight: bold;*/
 line-height: 1.3em;
 border: 2px dashed #fff;
 border-radius: 5px;
 /*box-shadow: 0 0 0 4px #ff0030, 2px 1px 3px 4px rgba(10, 10, 0, 0.5);
 text-shadow: -1px -1px #aa3030;*/
 /*font-weight: normal;*/
}
</style>
  <div class="row-fluid">
	<div class="span12" style="background-color: #FAFAFA;margin-bottom: 10px;">
	  <h3>CREATE FLIGHT OCCURENCE REPORT</h3><a href="section1" style="text-decoration: none"></a>
	  <!-- row 1 -->
	  <div class="row-fluid">
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Flight Occurence Report No.</b></label>
	    	<input type="text" id="fo_no" class="input-block-level input-large" placeholder="">
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>DCA Reportable Incident</b></label>
	    	<select id='dca_reportable_incident' class="input-block-level input-large">
	    		<option value='none' selected>select option</option>
  				<option value='yes'>Yes</option>
  				<option value='no'>No</option>
	    	</select>
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Status Report</b></label>
	    	<select id='status_report' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
  				<option value='submitted'>Submitted</option>
  				<option value='open'>Open</option>
  				<option value='waiting'>Waiting</option>
  				<option value='closed'>Closed</option>
  				<option value='reopened'>Reopened</option>
	    	</select>
	    </div>
	  </div>
	  
	  <!-- row 2-->
	  <div class="row-fluid" style="background-color: #FAFAFA">
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Person Reporting</b></label>
	    	<input type="text" id="person_reporting" class="input-block-level input-large" placeholder="">
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Position</b></label>
	    	<select id='position' class="input-block-level input-large">
	    		<option value='none' selected>select option</option>
  				<option value='MD'>MD</option>
  				<option value='DMD'>DMD</option>
  				<option value='MM'>MM</option>
  				<option value='Safety'>Safety</option>
  				<option value='Pilot'>Pilot</option>
  				<option value='Dispatcher'>Dispatcher</option>
  				<option value='Ramp Ops'>Ramp Ops</option>
  				<option value='Maintenance'>Maintenace</option>
  				<option value='IT'>IT</option>
  				<option value='QA'>QA</option>
	    	</select>
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Sub Reports</b></label>
	    	<select id='sub_report' class="input-block-level input-large" >
	    		<option value='' selected>select option</option>
  				<option value='None'>None</option>
  				<option value='Air Prox/Near Miss'>Air prox/Near miss</option>
  				<option value='Bird Strike'>Bird Strike</option>
  				<option value='DGR'>DGR</option>
  				<option value='HESS'>HESS</option>
	    	</select>
	    </div>
	  </div>
	  
	  <!-- row 3 -->
	  <div class="row-fluid">
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>On Behalf Of</b></label>
	    	<input type="text" id="on_behalf" class="input-block-level" placeholder="">
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b><font color='#FF4000'>A/C Type *</font></b></label>
	    	<select id='ac_type' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
  				<option value='C208B'>C20B8</option>
  				<option value='AW139'>AW139</option>
	    	</select>
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b><font color='#FF4000'>A/C Registration *</font></b></label>
	    	<select id='ac_registration' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
  				<option value='SKR'>SKR</option>
  				<option value='DSG'>DSG</option>
	    	</select>
	    </div>
	  </div>
	  
	  <!-- row 4 -->
	  <div class="row-fluid">
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b><font color='#FF4000'><u>Occurence Date</u> *</font></b></label>
	    	<input type="text" id="occurence_date" class="input-block-level input-large">
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Occurence Time</b> (LOCAL)</label>
	    	<input type="text" id="occurence_time" class="input-block-level input-large" placeholder="">

	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b><font color='#FF4000'>Human Factors</font></b></label>
	    	<select id='human_factor' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
  				<option value='yes'>Yes</option>
  				<option value='no'>No</option>
	    	</select>
	    </div>
	  </div>
	  
	  <!-- row 5 -->
	  <div class="row-fluid">
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b><font color='#FF4000'>Operation Base *</font></b></label>
	    	<select id='operation_base' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
  				<option value='Head Office'>Head Office</option>
  				<option value='DMK'>DMK</option>
  				<option value='SKL'>SKL</option>
  				<option value='UTP'>UTP</option>
	    	</select>
	    	
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Location</b> (if not on base)</label>
	    	<input type="text" id="location_not_base" class="input-block-level input-large">
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Reportable Occurence</u></b></label>
	    	<select id='reportable_occurence' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
  				<option value='yes'>Yes</option>
  				<option value='no'>No</option>
	    	</select>
	    </div>
	  </div>
	  
	  <div class="row-fluid">
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Incident / Accident</b></label>
	    	<select id='incident_accident' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
  				<option value='Occurence'>Occurence</option>
  				<option value='Incident'>Incident</option>
  				<option value='Accident'>Accident</option>
	    	</select>
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>ATA Chapter</b></label>
	    	<select id='ata_chapter' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
	    		<% @ata_chapter.each do |ata| %>
  					<option value='<%=ata.chapter_name%>'><%=ata.chapter_name%></option>
  				<% end %>
	    	</select>
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>ATA Section</u></b></label>
	    	<select id='ata_section' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
  				<option value='none'>None</option>
	    	</select>
	    </div>
	  </div>
	  
	  <!-- row 6 -->
	  <div class="row-fluid">
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Death/Injuries/Damage</b> (potential insurance claim)</label>
	    	<select id='insurance_claim' class="input-block-level input-large">
	    		<option value='' selected>select option</option>
  				<option value='yes'>Yes</option>
  				<option value='no'>No</option>
	    	</select>
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Report Manager</b></label>
	    	<input type="text" id="report_manager" class="input-block-level input-large">
	    </div>
	    <div class="span4" style="background-color: #FAFAFA">
	    	<label><b>Delegate</b></label>
	    	<input type="text" id="delegate" class="input-block-level input-large">
	    </div>
	  </div>
	  
	<!-- Start Section 2 -->
	  <div class="row-fluid">
	    <div class="span8" style="color: #DF3A01">
	    	<label><b><font color='#FF4000'>Title Of Occurence *</font></b></label>
	    	<input type="text" id="title_of_occurence" class="input-block-level input-large" placeholder='input title name'>
	    </div>
	  </div>
	  
	  <div class="row-fluid">
	    <div class="span12">
	    	<label><b><font color='#FF4000'>Description Of Occurence *</font></b></label>
	    	<textarea id="description_occurence" class="input-block-level input-large" rows="5"></textarea>
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span12">
	    	<label><b>Correction</b></label>
	    	<textarea id="correction" class="input-block-level input-large" rows="5"></textarea>
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span12">
	    	<label><b>Root Cause</b></label>
	    	<textarea id="root_cause" class="input-block-level input-large" rows="5"></textarea>
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span12">
	    	<label><b>Preventive Plan</b></label>
	    	<textarea id="preventive_plan" class="input-block-level input-large" rows="5"></textarea>
	    </div>
	  </div>
	  
	  <!-- Start section 3-->
	  <div class="row-fluid">
	    <div class="span12" style="background-color: #DF3A01">
	    	<h5>FLIGHT INFORMATION</h5>
	    </div>
	  </div>
	  <!-- Regulatory Authority -->
	  <div class="row-fluid">
	    <div class="span12 stitched" style="color: #DF3A01;background-color: #FFF5EE">
	    	<label><b>REGULATORY AUTHORITY</b></label>
	    </div>
	    <div class="row-fluid">
		    <div class="span4">
		    	<b>Has this been reported to the regulatory authorities ?</b>
		    </div>
		    <div class="span4">
		    	<select id='regulatory_authorities' class="input-block-level input-large">
		    		<option value='' selected>select option</option>
	  				<option value='yes'>Yes</option>
	  				<option value='no'>No</option>
		    	</select>
		    </div>
	    </div>
	    <div class="row-fluid">
		    <div class="span4">
		    	<label><b>Date Reported</b></label>
		    	<input type="text" id="date_reported" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>Tech Log#</b> (if applicable)</label>
		    	<input type="text" id="tech_log" class="input-block-level input-large">
		    </div>
		</div>
	  </div>
	  <!-- Crew -->
	  <div class="row-fluid">
	    <div class="span12 stitched" style="color: #DF3A01;background-color: #FFF5EE">
	    	<label><b>CREW</b></label>
	    </div>
	    <div class="row-fluid">
		    <div class="span4">
		    	<label><b><font color='#FF4000'>Commander *</font></b></label>
		    	<input type="text" id="commander" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>Co-Pilot</b></label>
		    	<input type="text" id="co_pilot" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>Other Crew</b></label>
		    	<input type="text" id="other_crew1" class="input-block-level input-large">
		    </div>
	    </div>
	    <div class="row-fluid">
		    <div class="span4">
		    	<label><b>Pilot License#</b></label>
		    	<input type="text" id="pilot_license" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>Co-Pilot License#</b></label>
		    	<input type="text" id="co_pilot_license" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>Other Crew</b></label>
		    	<input type="text" id="other_crew2" class="input-block-level input-large">
		    </div>
	    </div>
	  </div>
	  <!-- Flight -->
	  <div class="row-fluid">
	    <div class="span12 stitched" style="color: #DF3A01;background-color: #FFF5EE">
	    	<label><b>FLIGHT</b></label>
	    </div>
	    <div class="row-fluid">
		    <div class="span4">
		    	<label><b>Flight#</b></label>
		    	<input type="text" id="flight" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>Route From</b></label>
		    	<select id='route_from' class="input-block-level input-large">
		    		<option value='' selected>select option</option>
	  				<option value='DMK'>DMK</option>
	  				<option value='MSI'>MSI</option>
	  				<option value='BOA'>BOA</option>
	  				<option value='UTP'>UTP</option>
		    	</select>
		    </div>
		    <div class="span4">
		    	<label><b>Route To</b></label>
		    	<select id='route_to' class="input-block-level input-large">
		    		<option value='' selected>select option</option>
	  				<option value='DMK'>DMK</option>
	  				<option value='MSI'>MSI</option>
	  				<option value='BOA'>BOA</option>
	  				<option value='UTP'>UTP</option>
		    	</select>
		    </div>
		    <div class="row-fluid">
			    <div class="span4">
			    	<label><b>Flight Type</b></label>
			    	<select id='flight_type' class="input-block-level input-large">
			    		<option value='' selected>select option</option>
			    		<option value='none'>None</option>
		  				<option value='offshore'>Offshore</option>
		  				<option value='onshore'>Onshore</option>
			    	</select>
			    </div>
			    <div class="span4">
			    	<label><b>Nature Flight</b></label>
			    	<select id='nature_flight' class="input-block-level input-large">
			    		<option value='none' selected>select option</option>
			    		<% @nature_flight.each do |nature| %>
  							<option value='<%=nature.nature_name%>'><%=nature.nature_name%></option>
  						<% end %>
			    	</select>
			    </div>
			    <div class="span4">
			    	<label><b>Returned To Base?</b></label>
			    	<select id='returned_to_base' class="input-block-level input-large">
			    		<option value='' selected>select option</option>
		  				<option value='yes'>Yes</option>
		  				<option value='no'>No</option>
			    	</select>
			    </div>	
		    </div>	
		    <div class="row-fluid">
			    <div class="span4">
			    	<label><b>Phase Of Flight</b></label>
			    	<select id='phase_of_flight' class="input-block-level input-large">
			    		<option value='' selected>select option</option>
			    		<% @phase_flight.each do |phase| %>
  							<option value='<%=phase.phase_name%>'><%=phase.phase_name%></option>
  						<% end %>
			    	</select>
			    </div>
			    <div class="span4">
			    	<label><b>Diverted To</b></label>
			    	<input type="text" id="diverted_to" class="input-block-level input-large">
			    </div>
			    <div class="span4">
			    	<label><b>Flight Rule</b></label>
			    	<select id='flight_rule' class="input-block-level input-large">
			    		<option value='' selected>select option</option>
			    		<option value='None'>None</option>
		  				<option value='IFR'>IFR</option>
		  				<option value='VFR'>VFR</option>
			    	</select>
			    </div>	
		    </div>
		    <div class="row-fluid">
			    <div class="span4">
			    	<label><b>Flight Condition</b></label>
			    	<select id='flight_condition' class="input-block-level input-large">
			    		<option value=''>None</option>
		  				<option value='IMC'>IMC</option>
		  				<option value='VMC'>VMC</option>
			    	</select>
			    </div>
			    <div class="span4">
			    	<label><b>Time Of Day</b></label>
			    	<select id='time_of_day' class="input-block-level input-large">
			    		<option value='' selected>select option</option>
			    		<option value='None'>None</option>
		  				<option value='Day'>Day</option>
		  				<option value='Into Sun'>Into Sun</option>
		  				<option value='Night'>Night</option>
		  				<option value='Out of Sun'>Out of Sun</option>
		  				<option value='Twilight'>Twilight</option>
			    	</select>
			    </div>
			    <div class="span4">
			    	<label><b>Other (describe)</b></label>
			    	<input type="text" id="other_describe" class="input-block-level input-large">
			    </div>	
		    </div>
	    </div>
	  </div>
	  <!-- Altitude information (please fill in ONE or if require more) -->
	  <div class="row-fluid">
	    <div class="span12 stitched" style="color: #DF3A01;background-color: #FFF5EE">
	    	<label><b>Altitude information (please fill in ONE or if require more)</b></label>
	    </div>
	    <div class="row-fluid">
		    <div class="span4">
		    	<label><b>Altitude (ASL/QNH)</b></label>
		    	<input type="text" id="altitude" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>Height (AGL/QFE)</b></label>
		    	<input type="text" id="height" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>Flight Level (FL050)</b></label>
		    	<input type="text" id="flight_level" class="input-block-level input-large">
		    </div>
	    </div>
	  </div>
	  
	  <!-- Weather condition -->
	  <div class="row-fluid">
	    <div class="span12 stitched" style="color: #DF3A01;background-color: #FFF5EE">
	    	<label><b>Weather Conditions</b></label>
	    </div>
	    <div class="row-fluid">
		    <div class="span4">
		    	<label><b>Precipitation</b></label>
		    	<input type="text" id="precipitation" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>Icing</b></label>
		    	<input type="text" id="icing" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>OAT°C</b></label>
		    	<input type="text" id="oat" class="input-block-level input-large">
		    </div>
	    </div>
	    <div class="row-fluid">
		    <div class="span2">
		    	<label><b>Visibility</b></label>
		    	<input type="text" id="visibility_distance" class="input-block-level input-large">
		    </div>
		    <div class="span1">
		    	<label><b>Distance</b></label>
		        <select id='distance' class="form-control input-sm  no_margin">
		    		<option value='KM' selected>KM</option>
	  				<option value='NM'>NM</option>
	  			</select> 		
		    </div>
		    <div class="span1"></div>

		    <div class="span4" style="margin-right: 5">
		    	<label><b>TAF</b></label>
		    	<input type="text" id="taf" class="input-block-level input-large">
		    </div>
		    <div class="span4">
		    	<label><b>METAR</b></label>
		    	<input type="text" id="metar" class="input-block-level input-large">
		    </div>
	    </div>
	  </div>
	  
	  <!-- Information Customer -->
	  <div class="row-fluid">
	    <div class="span12 stitched" style="color: #DF3A01;background-color: #FFF5EE">
	    	<label><b>Information Customers / Passengers</b></label>
	    </div>
	    <div class="row-fluid">
		    <div class="span6">
		    	<label><b><font color='#FF4000'>Number of Passengers *</b></font></label>
		    	<select id='number_of_passengers' class="input-block-level input-large">
		    		<option value='' selected>select option</option>
		    		<option value='1'>1</option>
	  				<option value='2'>2</option>
	  				<option value='3'>3</option>
	  				<option value='4'>4</option>
	  				<option value='5'>5</option>
	  				<option value='6'>6</option>
	  				<option value='7'>7</option>
	  				<option value='8'>8</option>
	  				<option value='9'>9</option>
	  				<option value='10'>10</option>
	  				<option value='11'>11</option>
	  				<option value='12'>12</option>
		    	</select>
		    </div>
		    <div class="span6">
		    	<label><b>Is it likely that the customer/passengers have noticed the occurrence ?</b></label>
		    	<select id='have_noticed' class="input-block-level input-large">
		    		<option value='' selected>select option</option>
		    		<option value='yes'>Yes</option>
	  				<option value='no'>No</option>
		  		</select>
		    </div>
		    <div class="row-fluid">
			    <div class="span6">
			    	<label><b>Other</b></label>
			    	<input type="text" id="other_info" class="input-block-level input-large">
			    </div>
			    <div class="span6">
			    	<label><b>If yes, who did you inform ?</b></label>
			    	<select id='inform_who' class="input-block-level input-large">
			    		<option value='' selected>select option</option>
			    		<option value='none'>None</option>
		  				<option value='ATC/RFTS'>ATC/RFTS</option>
		  				<option value='HLO'>HLO</option>
		  				<option value='Other'>Other</option>
	  				</select>
			    </div>
			 </div>
	    </div>
	  </div><!-- information customers -->
	  <div class="row-fluid">
	    <div class="span1" style="background-color: #FAFAFA;margin-bottom: 10px;">
	      <button id='save_for' class="btn btn-primary" type="button">Save</button>
	    </div>
	    <div class="span1" style="background-color: #FAFAFA;margin-left: 0px;">
	      <button id='cancel_for' class="btn btn-primary" type="button">Cancel</button>
	    </div>
      </div><!--/row-->
      <!-- end row span 12 -->
	</div><!--/span-->
  </div><!--/row-->
  
<script type="text/javascript">
	//date picker
	var dt = new Date();
	var time = (dt.getHours()<10 ? '0' : '') + dt.getHours() + ":" + (dt.getMinutes()<10 ? '0' : '') + dt.getMinutes();
	var month = dt.getMonth()+1;
	var day = dt.getDate();
	var today =  (day<10 ? '0' : '') + day + '/' + (month<10 ? '0' : '') + month + '/' + dt.getFullYear();
	$('#local_time').val(time);
	$('#occurence_date').val(today);
	$('#date_report').val(today);
	$('#occurence_date').datepicker({
	 	format: "dd/mm/yyyy",
		todayBtn: "linked",
		calendarWeeks: true,
		autoclose: true,
		todayHighlight: true
	});
	$('#date_reported').datepicker({
	 	format: "dd/mm/yyyy",
		todayBtn: "linked",
		calendarWeeks: true,
		autoclose: true,
		todayHighlight: true
	});
	//end date picker
	
	$('#save_for').click(function(e) {
	 //alert($('#correction').val());
	 if ($('#ac_type').val() != '' 
	 		&& $('#ac_registration').val() != '' && $('#title_of_occurence').val() 
	 		&& $('#human_factor').val() && $('#operation_base').val() 
	 		&& $('#title_of_occurence').val() && $('#description_occurence').val() 
	 		&& $('#commander').val() && $('#number_of_passengers').val()
	 	) { 
		$.ajax
         ({
         	type: 'POST',
         	url: '/report/new_flight_occurence',
         	data: {
         		fo_no: $('#fo_no').val(),
         		dca_reportable_incident: $('#dca_reportable_incident').val(),
         		status_report: $('#status_report').val(),
         		person_reporting: $('#person_reporting').val(),
         		position: $('#position').val(),
         		sub_report: $('#sub_report').val(),
         		on_behalf: $('#on_behalf').val(),
         		ac_type: $('#ac_type').val(), 
         		ac_registration: $('#ac_registration').val(), 
         		occurence_date: $('#occurence_date').val(),
         		occurence_time: $('#occurence_time').val(),
         		human_factor: $('#human_factor').val(),
         		operation_base: $('#operation_base').val(),
         		location_not_base: $('#location_not_base').val(),
         		reportable_occurence: $('#reportable_occurence').val(),
         		incident_accident: $('#incident_accident').val(),
         		ata_chapter: $('#ata_chapter').val(),
         		ata_section: $('#ata_section').val(),
         		insurance_claim: $('#insurance_claim').val(),
         		report_manager: $('#report_manager').val(),
         		delegate: $('#delegate').val(),
         		title_of_occurence: $('#title_of_occurence').val(),
         		description_occurence: $('#description_occurence').val(),
         		correction: $('#correction').val(),
         		root_cause: $('#root_cause').val(),
         		preventive_plan: $('#preventive_plan').val(),
         		regulatory_authorities: $('#regulatory_authorities').val(),
         		date_reported: $('#date_reported').val(),
         		tech_log: $('#tech_log').val(),
         		commander: $('#commander').val(),
         		co_pilot: $('#co_pilot').val(),
         		other_crew1: $('#other_crew1').val(),
         		other_crew2: $('#other_crew2').val(),
         		pilot_license: $('#pilot_license').val(),
         		co_pilot_license: $('#co_pilot_license').val(),
         		flight: $('#flight').val(),
         		route_from: $('#route_from').val(),
         		route_to: $('#route_to').val(),
         		flight_type: $('#flight_type').val(),
         		nature_flight: $('#nature_flight').val(),
         		returned_to_base: $('#returned_to_base').val(),
         		phase_of_flight: $('#phase_of_flight').val(),
         		diverted_to: $('#diverted_to').val(),
         		flight_rule: $('#flight_rule').val(),
         		flight_condition: $('#flight_condition').val(),
         		time_of_day: $('#time_of_day').val(),
         		other_describe: $('#other_describe').val(),
         		altitude: $('#altitude').val(),
         		height: $('#height').val(),
         		flight_level: $('#flight_level').val(),
         		precipitation: $('#precipitation').val(),
         		icing: $('#icing').val(),
         		oat: $('#oat').val(),
         		visibility_distance: $('#visibility').val() + ' ' +  $('#distance').val(),
         		distance: $('#distance').val(),
         		taf: $('#taf').val(),
         		metar: $('#metar').val(),
         		number_of_passengers: $('#number_of_passengers').val(),
         		have_noticed: $('#have_noticed').val(),
         		other_info: $('#other_info').val(),
         		inform_who: $('#inform_who').val()
         	},
         	timeout: 10000,
            beforeSend: function (){
            	$('#createFOreport').html('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');
            },
            success: function (data){
            	//window.location = "/admin/index";
            	//$('#createFOreport').load('/report/create_flight_occurence');
				$('#modalContent').html('Completed.');
				$("#myModal").modal('show');	
				window.location.href = '/report/show_flight_occurence';
            },
            error: function (e){
            	alert("Cannot load user data");
            	
            }
         });
      } else {
      	alert('AC Type, AC Registration and Title Occurence cannot be blank!');
      }
	});
	
	$('#cancel_for').click(function(){
		window.location.href = '/report/show_flight_occurence';
	});
	  
	


</script>

