<!DOCTYPE html>
<html>
  <head>
    <title>RPS-REPORT</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <% render 'layouts/header' %>
	<style type="text/css">
	  body {
	    padding-top: 60px;
	    padding-bottom: 40px;
	  }
	  .sidebar-nav {
	    padding: 9px 0;
	  }
	
	  @media (max-width: 980px) {
	    /* Enable use of floated navbar text */
	    .navbar-text.pull-right {
	      float: none;
	      padding-left: 5px;
	      padding-right: 5px;
	    }
	  }
	  .sp4 {
		background-color: #fff;
	 	border: 1px solid #e5e5e5;
	 	border-radius: 10px;
	    padding: 10px;
	    margin-top: 10px;
		}
		
	</style>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#notice').show().fadeOut(10000);
			$('.navbar .dropdown').hover(function() {
		        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
		        
		    }, function() {
		        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
		        
		    });
		 });
	</script>
	<% flash.each do |key, value| %>
	    <div id='notice' class="<%= flash_class(key) %>">
	    	<button type="button" id='alertClose' class="close" data-dismiss="alert">×</button>
	        <strong><%= value %></strong>
	    </div>
	<% end %>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="modalLabel"></h4>
	      </div>
	      <div class="modal-body">
			    <div id='notice'>
			        <strong><div id='modalContent'></div></strong>
			    </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- modal -->
	
	
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container-fluid">
			<a class="brand" href="#">RPS-REPORT</a>
	    	<div class="nav-collapse collapse">
	            <ul class="nav nav-pills">
	             <!--home menu -->
	             <li><a href="/main"><i class="icon-home icon-white"></i> HOME</a></li>
	             <!--end home menu -->
	             <!--reactive menu -->
	             <li class="dropdown" id="reactive-menu"> 
		              <a id="reactive_menu" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
		              	<i class="icon-folder-open icon-white"></i> REACTIVE 
		              	<b class="caret"></b>
		              </a>
		              <ul class="dropdown-menu">
		      				<li><a href="#"><i class="icon-file"></i> AOG  - Aircraft on ground</a></li>
		      				<li><a href="#"><i class="icon-file"></i> CF   - Customer feedback</a></li>
		      				<li><a href="flight_occurence"><i class="icon-file"></i> FO   - Flight occurence</a></li>
		      				<li><a href="#"><i class="icon-file"></i> GO   - Ground occurence</a></li>
		      				<li><a href="#"><i class="icon-file"></i> HESS - Health, Environment, Saftty & Security</a></li>
		      				<li><a href="#"><i class="icon-file"></i> MRO occurence</a></li>
		    			</ul>
	  			  </li>
	  			  <!--end reactive menu -->
					
	              <!--proactive menu -->
	              <li class="dropdown">
		              <a id="proactive_menu" data-toggle="dropdown" class="dropdown-toggle" data-target="#">
		              	<i class="icon-folder-open icon-white"></i> PROACTIVE 
		              	<b class="caret"></b>
		              </a>
		              <ul class="dropdown-menu">
		      				<li><a href="#"><i class="icon-file"></i> HI  - Hazard Identification</a></li>
		      				<li><a href="#"><i class="icon-file"></i> NC  - Non-Conformance</a></li>
		      				<li><a href="#"><i class="icon-file"></i> Request for document change / procedure change</a></li>
		    			</ul>
	  			  </li>
	              <!--end proactive menu -->
	              
	              <li class="dropdown" id="other-menu"> 
		              <a id="other_menu" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
		              	<i class="icon-folder-open icon-white"></i> OTHER 
		              	<b class="caret"></b>
		              </a>
		              <ul class="dropdown-menu">
		      				<li><a href="#"><i class="icon-file"></i> Anonymous Report</a></li>
		      				<li><a href="#"><i class="icon-file"></i> Audit Report</a></li>
		      				<li><a href="#"><i class="icon-file"></i> Confidencetial Report</a></li>
		      				<li><a href="#"><i class="icon-file"></i> Corrective / Preventative Report</a></li>
		      				<li><a href="#"><i class="icon-file"></i> Indexed Document</a></li>
		      				<li><a href="#"><i class="icon-file"></i> Investigation</a></li>
		      				<li><a href="#"><i class="icon-file"></i> Meeting Record</a></li>
		      				<li><a href="#"><i class="icon-file"></i> Weekly SITREP</a></li>
		    			</ul>
	  			  </li>
	              <!--admin menu -->
	              <li class="dropdown">
		              	<a id="admin_menu" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
		              		<i class="icon-wrench icon-white"></i> ADMIN 
		              		<b class="caret"></b>
		              	</a>
		    			<ul class="dropdown-menu">
		      				<li><a href="/admin"><i class="icon-user"></i> Users</a></li>
		    			</ul>
	  			  </li>
	  			  <!--end admin menu -->
	  			  <li class="pull-right">
		  			  <!--<p class="navbar-text pull-right"></p>-->
		  			  <p class="navbar-text pull-right">
		              	<i class="icon-user icon-white"></i> | Logged in as 
		              	<a href="#" class="navbar-link"><%=session[:username]%></a>
		          	  </p>
		          </li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div><!--/.nav-container-fluid -->
	      </div><!--/.navbar-inner -->
	    </div><!--/.navbar navbar-inverse navbar-fixed-top -->
	    
	<%= yield %>
	
    <%= render 'layouts/footer' %>

  </body>
</html>
